<a href="/" class="btn btn-secondary mt-3"><i class="bi bi-arrow-left-circle me-1"></i>Back</a>
{{> messages }}

<h1 class="mt-3">{{post.title}}</h1>
<h6>Created by {{post.user.name}} at {{absoluteDate post.createdAt}}</h6>
<hr>
<p>

  {{post.body}}
</p>

{{{renderEditDeleteIcon post.user loggedInUser post._id }}}